---
import Inline from "~/components/document/common/Inline.astro";
import type { ApplicationFormItemBlock } from "~/interfaces/document-block";
import { concatBlocks } from "~/lib/blocks";

const { block } = Astro.props as {
    block: ApplicationFormItemBlock;
};

const isUndefinedBlock = (tag: string) => {
    const defined = [
        "jp:opinion-contents-article",
        "jp:document-code",
        "jp:file-reference-id",
        "jp:addressed-to-person",
        "jp:indication-of-case-article",
        "jp:doc-number",
        "jp:applicants",
        "jp:applicant",
        "jp:registered-number",
        "jp:name",
        "jp:agents",
        "jp:agent",
        "jp:attorney",
        "jp:attorney-change-article",
        "jp:inventors",
        "jp:inventor",
        "jp:text",
        "jp:dispatch-number",
        "jp:ipc",
        "jp:charge-article",
        "jp:account",
        "jp:fee",
        "jp:submission-object-list-article",
        "jp:document-name",
        "jp:declaration-priority-ear-app",
        "jp:earlier-app",
        "jp:application-reference",
        "jp:general-power-of-attorney-id",
        "jp:special-mention-matter-article",
        "jp:article",
        "jp:parent-application-article",
        "jp:date",
        "jp:original-language-of-name",
        "jp:country",
        "jp:priority-claims",
        "jp:priority-claim",
        "jp:proof-means",
        "jp:citation",
        "jp:dtext",
        "jp:phone",
        "jp:share",
        "jp:share-rate",
        "jp:law-of-industrial-regenerate",
    ];
    const flag = defined.includes(tag);
    return !flag;
};
---

{
    block.tag == "jp:opinion-contents-article" && (
        <div>
            <div class={`jpTag indentLevel-${block.indentLevel}`}>
                {block.jpTag}
            </div>
            {concatBlocks(block.blocks).map((group) => (
                <div>
                    {group.map((b) => (
                        <Inline block={b} />
                    ))}
                </div>
            ))}
        </div>
    )
}

{
    /** jpTag ○, convertedText 〇
     */
    (block.tag == "jp:document-code" ||
        (block.tag == "jp:doc-number" && block.convertedText) ||
        block.tag == "jp:account" ||
        block.tag == "jp:fee" ||
        block.tag == "jp:document-name" ||
        block.tag == "jp:application-reference" ||
        block.tag == "jp:article" ||
        block.tag == "jp:date" ||
        block.tag == "jp:country" ||
        block.tag == "jp:application-section") && (
        <div class="application-item" style="display: flex;">
            <span
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 11em;"
            >
                {block.jpTag}
            </span>
            <span class="convertedText">{block.convertedText}</span>
        </div>
    )
}

{
    /** jpTag ○, text 〇,  convertedText ×
     */
    (block.tag == "jp:addressed-to-person" ||
        block.tag == "jp:file-reference-id" ||
        block.tag == "jp:registered-number" ||
        block.tag == "jp:name" ||
        block.tag == "jp:dispatch-number" ||
        block.tag == "jp:ipc" ||
        block.tag == "jp:text" ||
        block.tag == "jp:general-power-of-attorney-id" ||
        block.tag == "jp:original-language-of-name" ||
        (block.tag == "jp:doc-number" && block.text) ||
        block.tag == "jp:proof-means" ||
        block.tag == "jp:citation" ||
        block.tag == "jp:dtext" ||
        block.tag == "jp:phone" ||
        block.tag == "jp:share" ||
        block.tag == "jp:share-rate" ||
        block.tag == "jp:law-of-industrial-regenerate") && (
        <div class="application-item" style="display: flex;">
            <span
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 11em;"
            >
                {block.jpTag}
            </span>
            <span class="text">{block.text}</span>
        </div>
    )
}

{
    /** tag ○, jpTag ○, text ×, blocks ○ */
    (block.tag == "jp:indication-of-case-article" ||
        block.tag == "jp:applicant" ||
        block.tag == "jp:agent" ||
        block.tag == "jp:attorney" ||
        block.tag == "jp:inventor" ||
        block.tag == "jp:charge-article" ||
        block.tag == "jp:submission-object-list-article" ||
        block.tag == "jp:earlier-app" ||
        block.tag == "jp:parent-application-article" ||
        block.tag == "jp:priority-claim") && (
        <>
            <div class="application-item" style="display: flex;">
                <span
                    class={`jpTag indentLevel-${block.indentLevel}`}
                    style="min-width: 11em;"
                >
                    {block.jpTag}
                </span>
            </div>
            {block?.blocks?.map((b) => (
                <Astro.self block={b} />
            ))}
        </>
    )
}

{
    /** tag ○, blocks ○ */
    (block.tag == "jp:applicants" ||
        block.tag == "jp:agents" ||
        block.tag == "jp:inventors" ||
        block.tag == "jp:attorney-change-article" ||
        block.tag == "jp:special-mention-matter-article" ||
        block.tag == "jp:declaration-priority-ear-app" ||
        block.tag == "jp:priority-claims") &&
        block.blocks?.map((childBlock) => <Astro.self block={childBlock} />)
}

{
    /** 未対応のブロックタグ */
    isUndefinedBlock(block.tag) && (
        <div>
            <h1>no renderer for this block</h1>
            <pre>{JSON.stringify(block, null, 2)}</pre>
        </div>
    )
}

<style>
    .indentLevel-2 {
        text-indent: 2em;
    }
    .indentLevel-3 {
        text-indent: 3em;
    }
</style>
