---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { IPDocument } from "~/interfaces/document";
import Layout from "~/layouts/Layout.astro";
import { getDocIds } from "~/lib/getDocPaths";
import { getIPDocument } from "~/lib/getIPDocument";

export async function getStaticPaths() {
    const appNumberProps: Record<string, IPDocument[]> = {};
    const docIdList = await getDocIds();
    for (const p of docIdList) {
        const ipDocument = await getIPDocument(p.params.docId);
        if (ipDocument.applicationNumber == null) {
            continue;
        }
        if (!appNumberProps[ipDocument.applicationNumber.slug]) {
            appNumberProps[ipDocument.applicationNumber.slug] = [];
        }
        appNumberProps[ipDocument.applicationNumber.slug].push(ipDocument);
    }
    return Object.entries(appNumberProps).map(
        ([applicationNumber, ipDocuments]) => ({
            params: { applicationNumber },
            props: { ipDocuments },
        }),
    );
}

const { applicationNumber } = Astro.params;
const { ipDocuments } = Astro.props;
const docs = ipDocuments.sort((a, b) => {
    const aDate = a.submissionDate ?? a.dispatchDate;
    const bDate = b.submissionDate ?? b.dispatchDate;
    if (aDate == null || bDate == null) {
        return 0;
    }
    return aDate.date > bDate.date ? 1 : -1;
});
const an = docs[0].applicationNumber.toString();
const dateStr = (ipDocument: IPDocument) => {
    const date = ipDocument.submissionDate ?? ipDocument.dispatchDate;
    return date ? date.toString() : "";
};
---

<Layout title={`出願番号別文書一覧 | ${an}`}>
    <main>
        <nav class="header-nav">
            <BreadCrumbs
                crumbs={[
                    { title: "HOME", href: "/" },
                    { title: "出願書類", href: "/docs" },
                    {
                        title: "出願番号の一覧",
                        href: "/docs/applicationNumbers",
                    },
                    {
                        title: an,
                        href: `/docs/applicationNumbers/${applicationNumber}`,
                    },
                ]}
            />
        </nav>

        <section>
            <ul class="list-disc list-inside">
                {
                    docs.map((ipDocument) => (
                        <li>
                            <span>{dateStr(ipDocument)}</span>
                            <a
                                href={`/docs/${ipDocument.docId}`}
                                class="text-blue-600 hover:underline"
                            >
                                {ipDocument.documentName}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
