---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "~/layouts/Layout.astro";
import { formatApplicationNumber, formatDateString } from "~/lib/bib-utils";
import { getContentInfo, getDocIds } from "~/lib/getDocPaths.js";

type ApplicationInfo = {
    law: "patent" | "utilityModel";
    applicationNumber: string;
    documents: DocumentInfo[];
};
type DocumentInfo = {
    docId: string;
    documentName: string;
    submissionDate: string;
};
export async function getStaticPaths() {
    const appInfoList: Record<string, ApplicationInfo> = {};
    const docIdList = await getDocIds();
    for (const p of docIdList) {
        const contentInfo = await getContentInfo(p.params.docId);
        const appNum = `${contentInfo.document.law}-${contentInfo.document.applicationNumber}`;
        if (!appInfoList[appNum]) {
            appInfoList[appNum] = {
                law: contentInfo.document.law,
                applicationNumber: contentInfo.document.applicationNumber,
                documents: [],
            };
        }
        appInfoList[appNum].documents.push({
            docId: p.params.docId,
            documentName: contentInfo.document.documentName,
            submissionDate: contentInfo.document.submissionDate,
        });
    }
    return Object.entries(appInfoList).map(([applicationNumber, props]) => ({
        params: { applicationNumber },
        props: { appInfo: props },
    }));
}

const { applicationNumber } = Astro.params;
const { appInfo } = Astro.props;
const docs = appInfo.documents.sort((a, b) =>
    a.submissionDate.localeCompare(b.submissionDate),
);
const law = appInfo.law;
const an = formatApplicationNumber(law, appInfo.applicationNumber);
---

<Layout title={`出願番号別文書一覧 | ${an}`}>
    <main>
        <nav class="header-nav">
            <BreadCrumbs
                crumbs={[
                    { title: "HOME", href: "/" },
                    { title: "出願書類", href: "/docs" },
                    {
                        title: "出願番号の一覧",
                        href: "/docs/applicationNumbers",
                    },
                    {
                        title: an,
                        href: `/docs/applicationNumbers/${law}-${appInfo.applicationNumber}`,
                    },
                ]}
            />
        </nav>

        <section>
            <ul class="list-disc list-inside">
                {
                    docs.map(({ docId, documentName, submissionDate }) => (
                        <li>
                            <span>{formatDateString(submissionDate)}</span>
                            <a
                                href={`/docs/${docId}`}
                                class="text-blue-600 hover:underline"
                            >
                                {documentName}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
