---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { ApplicationNumberIndexEntry } from "~/interfaces/index/application-number-index";
import Layout from "~/layouts/Layout.astro";
import _applicationNumberIndex from "../../../../public/content/_indexes/application-number-index.json";

export async function getStaticPaths() {
    return Object.keys(_applicationNumberIndex).map((applicationNumber) => ({
        params: { applicationNumber },
    }));
}

const { applicationNumber } = Astro.params;
const applicationNumberIndex = _applicationNumberIndex as Record<
    string,
    ApplicationNumberIndexEntry
>;

const applicationNumberEntry = applicationNumberIndex[applicationNumber];
const an = applicationNumberEntry.applicationNumberString;

type DocumentEntry = ApplicationNumberIndexEntry["documents"][number];

const sorter = (a: DocumentEntry, b: DocumentEntry) => {
    return a.documentDate.localeCompare(b.documentDate);
};
---

<Layout title={`出願番号別文書一覧 | ${an}`}>
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                {
                    title: "出願番号の一覧",
                    href: "/docs/applicationNumbers",
                },
                {
                    title: an,
                    href: `/docs/applicationNumbers/${applicationNumber}`,
                },
            ]}
        />

        <section>
            <h1 class="text-2xl font-bold">{an} の出願書類一覧</h1>
            <span class="text-sm text-gray-600">
                総数: {applicationNumberEntry.documents.length} 件
            </span>
            {
                applicationNumberEntry.documents
                    .sort((a, b) => sorter(a, b))
                    .map((entry) => (
                        <div class="flex gap-4 items-center py-1">
                            <div class="min-w-[10em]">
                                {entry.documentDateFormatted !== ""
                                    ? entry.documentDateFormatted
                                    : "日付不明"}
                            </div>
                            <a
                                href={`/docs/${entry.docId}`}
                                class="text-blue-600 hover:underline"
                            >
                                {entry.documentName}
                            </a>
                        </div>
                    ))
            }
        </section>
    </main>
</Layout>
