---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "~/layouts/Layout.astro";
import { getDocIds } from "~/lib/getDocIds";
import { getIPDocument } from "~/lib/getIPDocument";
import type { IPDocument } from "~/interfaces/document";

const docIdList = await getDocIds();

// 全ての文書を取得し、整理番号で一意にする
const ipDocuments = await Promise.all(
    docIdList.map(async (p) => await getIPDocument(p.params.docId)),
);

// 整理番号で2段階グループ化 
// 1段階目=先頭文字、2段階目=fileReferenceId
const groupedByRefNumber: Record<
    string,
     Record<string, IPDocument[]>
> = {};

ipDocuments
    .filter((ipDocument) => ipDocument.fileReferenceId != null)
    .forEach((ipDocument) => {
        const firstChar = ipDocument.fileReferenceId.charAt(0);
        const refNumber = ipDocument.fileReferenceId;

        if (!groupedByRefNumber[firstChar]) {
            groupedByRefNumber[firstChar] = {};
        }
        if (!groupedByRefNumber[firstChar][refNumber]) {
            groupedByRefNumber[firstChar][refNumber] = [];
        }
        groupedByRefNumber[firstChar][refNumber].push(ipDocument);
    });

const indecies = Object.keys(groupedByRefNumber).sort();
const numberOfDocuments = Object.values(groupedByRefNumber)
    .flatMap((refNumberGroup) => Object.values(refNumberGroup))
    .length;
---

<Layout title="整理番号の一覧">
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "整理番号の一覧", href: "/docs/fileReferenceId" },
            ]}
        />

        <section>
            <h1 class="text-2xl font-bold">整理番号の一覧</h1>
            <span class="text-sm text-gray-600">
                総数: {numberOfDocuments} 件
            </span>
            {
                indecies.map((index) => (
                    <h2>{index}</h2>
                    <ul class="pl-[2em] list-disc list-inside">
                        {Object.entries(
                            groupedByRefNumber[index]
                        ).map(([refNumber, ipDocuments]) => (
                            <li>
                                <a
                                    href={`/docs/applicationNumbers/${ipDocuments[0].applicationNumber.slug}`}
                                    class="text-blue-600 hover:underline"
                                >
                                    {refNumber}
                                </a>
                                {ipDocuments.length > 1 &&(
                                    <span class="text-gray-500 text-sm">
                                        (書類数: {ipDocuments.length} 件)
                                    </span>
                                )}
                            </li>
                        ))}
                    </ul>
                ))
            }
        </section>
    </main>
</Layout>
