---
import sqlite from "better-sqlite3";
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import { INDEX_DB } from "~/constant";
import Layout from "~/layouts/Layout.astro";

export const prerender = true;
export async function getStaticPaths() {
    const db = new sqlite(INDEX_DB);
    const rows = db
        .prepare(`SELECT DISTINCT slug, name FROM applicants`)
        .all() as Array<{
        slug: string;
        name: string;
    }>;
    db.close();
    return rows.map((applicant) => ({
        params: { applicant: applicant.slug },
        props: { name: applicant.name },
    }));
}

const { applicant } = Astro.params;
const db = new sqlite(INDEX_DB);
const applicantIndexRow = db
    .prepare(
        `SELECT DISTINCT appNumSlug, appNumFormatted, fileReferenceId FROM documents d
         JOIN applicants a ON d.docId = a.docId
         WHERE slug = ?
         ORDER BY docDate DESC`,
    )
    .all(applicant) as Array<{
    docId: string;
    appNumSlug: string;
    appNumFormatted: string;
    fileReferenceId: string;
}>;
if (applicantIndexRow.length === 0) {
    throw new Error(`Applicant index not found: ${applicant}`);
}
db.close();
---

<Layout title={`出願人別文書一覧 | ${applicant}`}>
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "出願人の一覧", href: "/docs/applicants" },
                {
                    title: Astro.props.name,
                    href: `/docs/applicants/${applicant}`,
                },
            ]}
        />

        <section>
            <h1 class="text-2xl font-bold">
                {Astro.props.name}の出願一覧
            </h1>
            <span class="text-sm text-gray-600">
                総数: {applicantIndexRow.length} 件
            </span>
            {
                applicantIndexRow.map((row, index) => (
                    <ul class="pl-[2em] list-disc list-inside">
                        <li>
                            <a
                                href={`/docs/applicationNumbers/${row.appNumSlug}`}
                                class="text-blue-600 hover:underline"
                            >
                                {row.appNumFormatted}
                                {row.fileReferenceId &&
                                    ` (${row.fileReferenceId})`}
                            </a>
                        </li>
                    </ul>
                ))
            }
        </section>
    </main>
</Layout>
