---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { ApplicantIndexEntry } from "~/interfaces/index/applicant-index";
import Layout from "~/layouts/Layout.astro";
import _applicantIndex from "../../../../public/content/_indexes/applicant-index.json";

export async function getStaticPaths() {
    return Object.keys(_applicantIndex).map((applicant) => ({
        params: { applicant },
    }));
}

const { applicant } = Astro.params;
const applicantIndex = _applicantIndex as Record<string, ApplicantIndexEntry>;
---

<Layout title={`出願人別文書一覧 | ${applicant}`}>
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "出願人の一覧", href: "/docs/applicants" },
                {
                    title: applicantIndex[applicant].name,
                    href: `/docs/applicants/${applicant}`,
                },
            ]}
        />

        <section>
            <h1 class="text-2xl font-bold">
                {applicantIndex[applicant].name}の出願一覧
            </h1>
            <span class="text-sm text-gray-600">
                総数: {applicantIndex[applicant].documents.length} 件
            </span>
            {
                applicantIndex[applicant].documents.map((row, index) => (
                    <ul class="pl-[2em] list-disc list-inside">
                        <li>
                            <a
                                href={`/docs/applicationNumbers/${row.applicationNumberSlug}`}
                                class="text-blue-600 hover:underline"
                            >
                                {row.applicationNumberString}
                                {row.fileReferenceId &&
                                    ` (${row.fileReferenceId})`}
                            </a>
                        </li>
                    </ul>
                ))
            }
        </section>
    </main>
</Layout>
