---
/* This renderer for pat-rspn handles following document types:
     A153    意見書
     A159    弁明書
*/

import Card from "~/components/ui/Card.astro";
import type { PatRspn } from "~/interfaces/generated/pat-rspn";
import PatCommon from "./items/PatCommon.astro";

const { document, forPrinting = false } = Astro.props as {
    document: PatRspn;
    forPrinting: boolean;
};
---

{
    forPrinting === false && (
        <Card title={document.text}>
            <div class={document.tag}>
                {document.blocks.map((b) =>
                    b.blocks.map((b) => <PatCommon block={b} />),
                )}
            </div>
        </Card>
    )
}

{
    forPrinting === true && (
        <div class={document.tag}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <PatCommon block={b} />),
            )}
        </div>
    )
}
