---
// 発送系書類の段落関連を表示するコンポーネント
// 特許出願書類のPatCommon の段落と同じだが、
// xsl のファイル構成と合わせて、別定義とする。
import { getImageUrl } from "~/constants";
import type {
    ImageContainer,
    InlineText,
    Paragraph,
} from "~/interfaces/generated/ntc-paragraph";
import {
    isImageContainer,
    isInlineText,
    isParagraph,
} from "~/interfaces/generated/ntc-paragraph.guard";

const { block } = Astro.props as {
    block: Paragraph | InlineText | ImageContainer;
};

const concatBlocks = (
    blocks: any[],
    condition: (block: any) => boolean,
): any[][] => {
    const result: any[][] = [];
    let currentGroup: any[] = [];
    blocks.forEach((block) => {
        if (condition(block)) {
            if (currentGroup.length > 0) {
                currentGroup.push(block);
                result.push(currentGroup);
                currentGroup = [];
            } else {
                result.push([block]);
            }
        } else {
            currentGroup.push(block);
        }
    });
    if (currentGroup.length > 0) {
        result.push(currentGroup);
    }
    return result;
};

const { docId } = Astro.params as { docId: string };
const imageInfo = isImageContainer(block)
    ? await getImageUrl(docId, block.file, "large")
    : null;
---

{
    isParagraph(block) && (
        <>
            <div class={`indent-level-${block.indentLevel}`}>{block.jpTag}</div>
            {concatBlocks(block.blocks, (b) => b.isLastSentence === true).map(
                (group) => (
                    <div>
                        {group.map((b) => (
                            <Astro.self block={b} />
                        ))}
                    </div>
                ),
            )}
        </>
    )
}
{isInlineText(block) && block.tag === "text" && <span>{block.text}</span>}
{isInlineText(block) && block.tag === "sup" && <sup>{block.text}</sup>}
{isInlineText(block) && block.tag === "sub" && <sub>{block.text}</sub>}
{isInlineText(block) && block.tag === "underline" && <u>{block.text}</u>}
{
    isImageContainer(block) && imageInfo && (
        <div class="image-container">
            <div class={`indent-level-${block.indentLevel}`}>{block.jpTag}</div>
            <img
                src={imageInfo.url}
                alt={block.alt}
                width={imageInfo.width}
                height={imageInfo.height}
                style="max-width: 100%; height: auto;"
            />
        </div>
    )
}

<style>
    .image-container:not(:last-child) {
        break-after: page;
    }
    .indent-level-0 {
        text-indent: 0;
    }
    .indent-level-1 {
        text-indent: 1em;
    }
    .indent-level-2 {
        text-indent: 2em;
    }
</style>
