---
// 特許出願書類の明細書を表示するためのコンポーネント
import Paragraph from "~/components/document/common/Paragraph.astro";
import { descriptionTypeGuards, type Block } from "~/interfaces/document-block";

const { block } = Astro.props as {
    block: Block;
};
---

{
    // 発明の名称
    descriptionTypeGuards.isInventionTitle(block) && (
        <div class={block.tag} style="display: flex;">
            <div class={`min-w-[7em] jpTag indentLevel-${block.indentLevel}`}>
                {block.jpTag}
            </div>
            <div class="text">{block.blocks.map((b) => b.text).join("")}</div>
        </div>
    )
}

{
    // 技術分野、背景技術、先行技術文献、特許文献,非特許文献，発明の概要,発明の開示
    // 発明が解決しようとする課題, 課題を解決する手段, 発明の効果
    // 図面の簡単な説明, 発明を実施するための形態, 実施例
    // 産業上の利用可能性, 配列表, 符号の説明, 受託番号
    descriptionTypeGuards.isCommonDescriptionBlock(block) && (
        <div class={block.tag}>
            <div class={`jpTag indentLevel-${block.indentLevel}`}>
                {block.jpTag}
            </div>
            {block.blocks.map((b) => (
                <Astro.self block={b} />
            ))}
        </div>
    )
}

{
    // 段落
    descriptionTypeGuards.isParagraph(block) && <Paragraph block={block} />
}

<style>
    .figref {
        @apply flex;
    }
</style>
