---
import {
    paragraphItemTypeGuards,
    type ParagraphItem,
} from "~/interfaces/document-block";
import Figure from "./Figure.astro";

const { block } = Astro.props as {
    block: ParagraphItem;
};
---

{paragraphItemTypeGuards.isTextBlock(block) && <span>{block.text}</span>}
{paragraphItemTypeGuards.isSubBlock(block) && <sub>{block.text}</sub>}
{paragraphItemTypeGuards.isSupBlock(block) && <sup>{block.text}</sup>}
{paragraphItemTypeGuards.isUnderlineBlock(block) && <u>{block.text}</u>}
{
    // 表n，化n, 数n
    (paragraphItemTypeGuards.isTables(block) ||
        paragraphItemTypeGuards.isEquations(block) ||
        paragraphItemTypeGuards.isChemicalFormulas(block)) && (
        <Figure block={block} />
    )
}

{
    paragraphItemTypeGuards.isOtherImages(block) && (
        <Figure block={block} sizeTag="large" />
    )
}

{
    // 特許文献n，非特許文献n, 図面の簡単な説明
    (paragraphItemTypeGuards.isPatcitBlock(block) ||
        paragraphItemTypeGuards.isNplcitBlock(block) ||
        paragraphItemTypeGuards.isFigRefBlock(block)) && (
        <div class={block.tag} style="display: flex;">
            <div class={`jpTag indentLevel-${block.indentLevel}`}>
                {block.jpTag}
            </div>
            <div class="text">{block.text}</div>
        </div>
    )
}

<style>
    .patcit .jpTag,
    .nplcit .jpTag {
        min-width: 10em;
    }
    .figref .jpTag {
        min-width: 7em;
    }

    .patcit .indentLevel-2 {
        text-indent: 2em;
    }
    .nplcit .indentLevel-2 {
        text-indent: 0em;
    }
    .figref .indentLevel-2 {
        text-indent: 2em;
    }
</style>
