---
import {
    descriptionTypeGuards as dg,
    noticeBibliographicTypeGuards as g,
    paragraphItemTypeGuards,
    type NoticeBibliographicBlock,
} from "~/interfaces/document-block";
import Figure from "./Figure.astro";
import Paragraph from "./Paragraph.astro";

const { block } = Astro.props as {
    block: NoticeBibliographicBlock;
};
---

{
    g.isNoticeDispatchControlArticleBlock(block) && (
        <>
            {block.blocks.map((b) => (
                <div class="flex gap-2 text-xs">
                    <div class="min-w-[5em]">{b.jpTag}</div>
                    <div>{b.text}</div>
                </div>
            ))}
            <hr />
        </>
    )
}

{
    g.isNoticeDocumentNameBlock(block) && (
        <div class="flex justify-center mt-2 text-2xl">
            <div class="min-w-[5em]">{block.text}</div>
        </div>
    )
}

{
    /** jpTag ○, convertedText 〇 or x, text o */
    g.isNoticeBibliographicBlock1(block) && (
        <div class="flex gap-2">
            <div
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 12em;"
            >
                {block.jpTag}
            </div>
            <div class="text">{block.convertedText ?? block.text}</div>
        </div>
    )
}

{
    /** tag ○, jpTag ○, text ×, blocks ○ */
    g.isNoticeBibliographicBlock2(block) && (
       <>
            <div class="flex">
                <div
                    class={`jpTag indentLevel-${block.indentLevel} ${block.tag}`}
                    style="min-width: 11em;"
                >
                    {block.jpTag}
                </div>
            </div>
            {block.blocks && block.blocks.map((b) => (
                <Astro.self block={b} />
            ))}
        </>
    ) 
}

{
    /** tag ○, blocks ○ */
    g.isNoticeBibliographicBlock3(block) &&
        block.blocks.map((childBlock) => <Astro.self block={childBlock} />)
}

{
    g.isNoticeBibliographicBlock4(block) && (
        <div class="px-[1em] my-10">
            {block.blocks?.map((childBlock) => (
                <Astro.self block={childBlock} />
            ))}
        </div>
    )
}

{
    /** conclusion-part-article, drafting-body は空(blocks無し)の場合がある */
    g.isNoticeBibliographicBlock5(block) &&
        block.blocks &&
        block.blocks.map((b) => <Paragraph block={b} />)
}

{
    dg.isParagraph(block) && <Paragraph block={block} />
}

{
    g.isNoticeDraftPersonGroupBlock(block) && (
        <div class="flex gap-2">
            <div style="min-width: 12em;">{block.jpTag}</div>
            <div class="flex justify-between gap-2">
                <div>
                    {block.blocks
                        .filter((b2) => b2.tag == "jp:name")
                        .map((b3) => (
                            <div>{b3.text}</div>
                        ))}
                </div>
                <div class="flex gap-2">
                    {block.blocks
                        .filter((b2) => b2.tag != "jp:name")
                        .map((b3) => (
                            <div>{b3.text}</div>
                        ))}
                </div>
            </div>
        </div>
    )
}

{
    g.isNoticeFooterArticleBlock(block) && block.blocks && (
        <>
            <hr />
            <div>
                {block.blocks.map((childBlock) => (
                    <Astro.self block={childBlock} />
                ))}
            </div>
        </>
    )
}

{
    g.isNoticeCertificationGroupBlock(block) && (
        <div class="flex gap-10">
            {block.blocks
                .map((b) => (
                    (b.jpTag && b.convertedText
                    ? <div>{b.jpTag}</div><div>{b.convertedText}</div>
                    : <div>{b.text}</div>
                )))}
       </div>
    )
}

{
    g.isNoticeBibliographicBlock6(block) && (
        <div>{block.text}</div>
    )
}

{
    /** tag ○, jpTag ○, text ×, blocks ○ */
    g.isNoticeParentApplicationArticleBlock(block) && (
        <div>
            <div>
                   {block.jpTag}
            </div>
            {block.text && (
                <div>{block.text}</div>
            )}
            {block.blocks?.map((b) => (
                <Astro.self block={b} />
            ))}
        </div>
    )
}

{
    g.isNoticeArticleGroupBlock(block) && (
        <div class="flex gap-2">
            <div style="min-width: 12em;">
                {block.jpTag}
            </div>
            <div>{block.blocks.map((b) => b.text).join("、")}</div>
        </div>
    )
}

{
    paragraphItemTypeGuards.isOtherImages(block) && (
        <Figure block={block} sizeTag="large" />
   )
}

{
    /** 未対応のブロックタグ */
    g.isUnknownNoticeBibliographicBlock(block) && (
        <div>
            <h1>no renderer for this block</h1>
            <pre>{JSON.stringify(block, null, 2)}</pre>
        </div>
    )
}

<style>
    .indentLevel-1 {
        text-indent: 1em;
    }
    .indentLevel-2 {
        text-indent: 2em;
    }
    .jp\:deposit {
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>
