---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { IPDocument } from "~/interfaces/document";
import Layout from "~/layouts/Layout.astro";
import { getDocIds } from "~/lib/getDocPaths";
import { getIPDocument } from "~/lib/getIPDocument";

export async function getStaticPaths() {
    const inventorProps: Record<string, IPDocument[]> = {};
    const docIdList = await getDocIds();
    for (const p of docIdList) {
        const ipDocument = await getIPDocument(p.params.docId);
        ipDocument.inventors.forEach((inventor) => {
            if (!inventorProps[inventor]) {
                inventorProps[inventor] = [];
            }
            inventorProps[inventor].push(ipDocument);
        });
    }
    return Object.entries(inventorProps).map(([inventor, ipDocuments]) => ({
        params: { inventor },
        props: { ipDocuments },
    }));
}

const { inventor } = Astro.params;
const { ipDocuments } = Astro.props;
const groupedDocs = Object.groupBy(
    ipDocuments,
    (doc) => doc.applicationNumber.yearPart ?? "出願年不明",
);
const indecies = Object.keys(groupedDocs).sort((a, b) => a.localeCompare(b));
---

<Layout title={`発明者別文書一覧 | ${inventor}`}>
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "発明者の一覧", href: "/docs/inventors" },
                {
                    title: inventor,
                    href: `/docs/inventors/${inventor}`,
                },
            ]}
        />
        <section>
            <h1 class="text-2xl font-bold">{inventor}の出願一覧</h1>
            <span class="text-sm text-gray-600">
                総数: {ipDocuments.length} 件
            </span>
            {
                indecies.map((index) => (
                    <h2>{index}年</h2>
                    <ul class="pl-[2em] list-disc list-inside">
                        {groupedDocs[index]?.map((ipDocument) => (
                            <li>
                                <a
                                    href={`/docs/applicationNumbers/${ipDocument.applicationNumber.slug}`}
                                    class="text-blue-600 hover:underline"
                                >
                                    {ipDocument.applicationNumber.toString()}
                                    {ipDocument.fileReferenceId &&
                                     ` (${ipDocument.fileReferenceId})`}
                                </a>
                            </li>
                        ))}
                    </ul>
                ))
            }
       </section>
    </main>
</Layout>
