---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { InventorIndexEntry } from "~/interfaces/index/inventor-index";
import Layout from "~/layouts/Layout.astro";
import _inventorIndex from "../../../../public/content/_indexes/inventor-index.json";

export async function getStaticPaths() {
    return Object.keys(_inventorIndex).map((inventor) => ({
        params: { inventor },
    }));
}
const { inventor } = Astro.params;
const inventorIndex = _inventorIndex as Record<string, InventorIndexEntry>;
---

<Layout title={`発明者別文書一覧 | ${inventorIndex[inventor].name}`}>
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "発明者の一覧", href: "/docs/inventors" },
                {
                    title: inventorIndex[inventor].name,
                    href: `/docs/inventors/${inventor}`,
                },
            ]}
        />
        <section>
            <h1 class="text-2xl font-bold">
                {inventorIndex[inventor].name}の出願一覧
            </h1>
            <span class="text-sm text-gray-600">
                総数: {inventorIndex[inventor].documents.length} 件
            </span>
            {
                inventorIndex[inventor].documents.map((row, index) => (
                    <ul class="pl-[2em] list-disc list-inside">
                        <li>
                            <a
                                href={`/docs/applicationNumbers/${row.applicationNumberSlug}`}
                                class="text-blue-600 hover:underline"
                            >
                                {row.applicationNumberString}
                                {row.fileReferenceId &&
                                    ` (${row.fileReferenceId})`}
                            </a>
                        </li>
                    </ul>
                ))
            }
        </section>
    </main>
</Layout>
