---
import Application from "~/components/application/Application.astro";
import NoticePatentExam from "~/components/application/NoticePatentExam.astro";
import PatentResponse from "~/components/application/PatentResponse.astro";
import Layout from "~/layouts/Layout.astro";
import { getDocIds } from "~/lib/getDocPaths";
import { getIPDocument } from "~/lib/getIPDocument";

export const getStaticPaths = getDocIds;
const { docId } = Astro.params as { docId: string };
const ipDocument = await getIPDocument(docId);
const title = `${ipDocument.applicationNumber.toString()} | ${ipDocument.documentName}`;
---

<Layout title={title}>
    <main class="w-full my-2">
        {
            ipDocument.documentCode == "A163" && (
                <Application ipDocument={ipDocument} />
            )
        }
        {
            ["A153", "A159"].includes(ipDocument.documentCode) && (
                <PatentResponse ipDocument={ipDocument} />
            )
        }
        {
            ["A101", "A102", "A1131", "A130"].includes(
                ipDocument.documentCode,
            ) && <NoticePatentExam ipDocument={ipDocument} />
        }
    </main>
</Layout>
