---
// 全体レイアウトの定義、文書タイプを is*で判断し、対応するコンポーネントを呼ぶ
// components/document/*.astro は 文書タイプの表示用/印刷用レイアウトを定義する。
import ApplicationBody from "~/components/document/ApplicationBody.astro";
import ForeignLanguageBody from "~/components/document/ForeignLanguageBody.astro";
import PatAmnd from "~/components/document/PatAmnd.astro";
import PatAppDoc from "~/components/document/PatAppDoc.astro";
import PatEtc from "~/components/document/PatEtc.astro";
import PatRspn from "~/components/document/PatRspn.astro";
import KeywordHighlighter from "~/components/ui/KeywordHighlighter.astro";
import { getDocument } from "~/constants";
import { isApplicationBody } from "~/interfaces/generated/application-body.guard";
import { isForeignLanguageBody } from "~/interfaces/generated/foreign-language-body.guard";
import { isPatAmnd } from "~/interfaces/generated/pat-amnd.guard";
import { isPatAppDoc } from "~/interfaces/generated/pat-appd.guard";
import { isPatEtc } from "~/interfaces/generated/pat-etc.guard";
import { isPatRspn } from "~/interfaces/generated/pat-rspn.guard";
import Layout from "~/layouts/Layout.astro";
export { getStaticPaths } from "~/lib/getStaticPaths";

const { docId } = Astro.params as { docId: string };
const json = await getDocument(docId);
const title = "doc";
const order = [
    isPatAppDoc,
    isApplicationBody,
    isForeignLanguageBody,
    isPatRspn,
    isPatEtc,
    isPatAmnd,
];
const sortedJson = order
    .map((guard) => json.find((b) => guard(b)))
    .filter((b): b is NonNullable<typeof b> => b !== undefined);
const hasCarouselImages = true;
---

<Layout title={title}>
    <main class="w-full my-2">
        <header>
            <h1 class="text-2xl font-bold">書誌事項などヘッダー領域</h1>
        </header>
        <KeywordHighlighter urlParamKey="q">
            <div
                class={`grid gap-4 ${hasCarouselImages ? " lg:grid-cols-2" : ""}`}
            >
                <div data-search-root>
                    {
                        sortedJson.map((block) => {
                            if (isPatAppDoc(block)) {
                                return <PatAppDoc document={block} />;
                            } else if (isApplicationBody(block)) {
                                return <ApplicationBody document={block} />;
                            } else if (isForeignLanguageBody(block)) {
                                return <ForeignLanguageBody document={block} />;
                            } else if (isPatRspn(block)) {
                                return <PatRspn document={block} />;
                            } else if (isPatEtc(block)) {
                                return <PatEtc document={block} />;
                            } else if (isPatAmnd(block)) {
                                return <PatAmnd document={block} />;
                            } else {
                                return null;
                            }
                        })
                    }
                </div>
                {
                    hasCarouselImages && (
                        <div class="hidden lg:block">
                            <div class="sticky top-32 bg-white">
                                <div>図面一覧</div>
                            </div>
                        </div>
                    )
                }
            </div>
        </KeywordHighlighter>
    </main>
</Layout>
