---
import ApplicationBody from "~/components/document/ApplicationBody.astro";
import ForeignLanguageBody from "~/components/document/ForeignLanguageBody.astro";
import PatAppDoc from "~/components/document/PatAppDoc.astro";
import { getDocument } from "~/constants";
import { isApplicationBody } from "~/interfaces/generated/application-body.guard";
import { isForeignLanguageBody } from "~/interfaces/generated/foreign-language-body.guard";
import { isPatAppDoc } from "~/interfaces/generated/pat-appd.guard";
import PrintingLayout from "~/layouts/PrintingLayout.astro";
export { getStaticPaths } from "~/lib/getStaticPaths";

const { docId } = Astro.params as { docId: string };
const json = await getDocument(docId);
const title = "doc";
const order = [isPatAppDoc, isApplicationBody, isForeignLanguageBody];
const sortedJson = order
    .map((guard) => json.find((b) => guard(b)))
    .filter((b): b is NonNullable<typeof b> => b !== undefined);
---

<PrintingLayout title={title}>
    <main class="w-full my-2">
        {
            sortedJson.map((block) => {
                if (isPatAppDoc(block)) {
                    return <PatAppDoc document={block} forPrinting={true} />;
                } else if (isApplicationBody(block)) {
                    return (
                        <ApplicationBody document={block} forPrinting={true} />
                    );
                } else if (isForeignLanguageBody(block)) {
                    return (
                        <ForeignLanguageBody
                            document={block}
                            forPrinting={true}
                        />
                    );
                }
            })
        }
    </main>
</PrintingLayout>
