---
// 全体レイアウトの定義、文書タイプを is*で判断し、対応するコンポーネントを呼ぶ
// components/document/*.astro は 文書タイプの表示用/印刷用レイアウトを定義する。
import Bibliography from "~/components/bibliographic-items/Bibliography.astro";
import ApplicationBody from "~/components/document/ApplicationBody.astro";
import AttachingDocument from "~/components/document/AttachingDocument.astro";
import CpyNtcPtE from "~/components/document/CpyNtcPtE.astro";
import CpyNtcPtERn from "~/components/document/CpyNtcPtERn.astro";
import CpyNtcPtF from "~/components/document/CpyNtcPtF.astro";
import ForeignLanguageBody from "~/components/document/ForeignLanguageBody.astro";
import PatAmnd from "~/components/document/PatAmnd.astro";
import PatAppDoc from "~/components/document/PatAppDoc.astro";
import PatEtc from "~/components/document/PatEtc.astro";
import PatRspn from "~/components/document/PatRspn.astro";
import Card from "~/components/ui/Card.astro";
import ImageCarousel from "~/components/ui/ImageCarousel.astro";
import KeywordHighlighter from "~/components/ui/KeywordHighlighter.astro";
import { isApplicationBody } from "~/interfaces/generated/application-body.guard";
import { isAttachingDocument } from "~/interfaces/generated/attaching-document.guard";
import { isCpyNtcPtERn } from "~/interfaces/generated/cpy-ntc-pt-e-rn.guard";
import { isCpyNtcPtE } from "~/interfaces/generated/cpy-ntc-pt-e.guard";
import { isCpyNtcPtF } from "~/interfaces/generated/cpy-ntc-pt-f.guard";
import { isForeignLanguageBody } from "~/interfaces/generated/foreign-language-body.guard";
import { isPatAmnd } from "~/interfaces/generated/pat-amnd.guard";
import { isPatAppDoc } from "~/interfaces/generated/pat-appd.guard";
import { isPatEtc } from "~/interfaces/generated/pat-etc.guard";
import { isPatRspn } from "~/interfaces/generated/pat-rspn.guard";
import Layout from "~/layouts/Layout.astro";
import { formatApplicationNumber, getBibliography } from "~/lib/bibliography";
import { getCarouselImage } from "~/lib/carousel-images";
import { getDocument } from "~/lib/document";
import "../../../styles/global.css";

const { docId } = Astro.params as { docId: string };
const origin = new URL(Astro.request.url).origin;
const json = await getDocument(docId, origin);
const bibliography = await getBibliography(docId, origin);
const title = bibliography
    ? `${formatApplicationNumber(bibliography.law, bibliography.applicationNumber || bibliography.internationalApplicationNumber || "")} ${bibliography.fileReferenceId} ${bibliography.documentName}`
    : "Error: Bibliography not found";
const thumbnails = await getCarouselImage(docId, "figures", "thumbnail", origin);
const images = await getCarouselImage(docId, "figures", "middle", origin);
const hasCarouselImages = images.length > 0 && thumbnails.length > 0;
---

<Layout title={title}>
    <main class="w-full my-2">
        {bibliography && <Bibliography bibliography={bibliography} />}
        <KeywordHighlighter urlParamKey="q">
            <div
                class={`grid gap-4 ${hasCarouselImages ? " lg:grid-cols-2" : ""}`}
            >
                <div data-search-root>
                    {
                        json.length > 0 ? (
                            json.map((block) => {
                                if (isPatAppDoc(block)) {
                                    return <PatAppDoc document={block} />;
                                } else if (isApplicationBody(block)) {
                                    return <ApplicationBody document={block} />;
                                } else if (isForeignLanguageBody(block)) {
                                    return (
                                        <ForeignLanguageBody document={block} />
                                    );
                                } else if (isPatRspn(block)) {
                                    return <PatRspn document={block} />;
                                } else if (isPatEtc(block)) {
                                    return <PatEtc document={block} />;
                                } else if (isPatAmnd(block)) {
                                    return <PatAmnd document={block} />;
                                } else if (isCpyNtcPtE(block)) {
                                    return <CpyNtcPtE document={block} />;
                                } else if (isCpyNtcPtERn(block)) {
                                    return <CpyNtcPtERn document={block} />;
                                } else if (isCpyNtcPtF(block)) {
                                    return <CpyNtcPtF document={block} />;
                                } else if (isAttachingDocument(block)) {
                                    return (
                                        <AttachingDocument document={block} />
                                    );
                                } else {
                                    return (
                                        <div>
                                            can't display document due to
                                            unknown type.
                                        </div>
                                    );
                                }
                            })
                        ) : (
                            <div>文書が見つかりませんでした。</div>
                        )
                    }
                </div>
                {
                    hasCarouselImages && (
                        <div class="hidden lg:block">
                            <div class="sticky top-32 bg-white">
                                <Card title="図面一覧">
                                    <ImageCarousel
                                        images={images}
                                        thumbnails={thumbnails}
                                    />
                                </Card>
                            </div>
                        </div>
                    )
                }
            </div>
        </KeywordHighlighter>
    </main>
</Layout>
