---
import ApplicationBody from "~/components/document/ApplicationBody.astro";
import AttachingDocument from "~/components/document/AttachingDocument.astro";
import CpyNtcPtE from "~/components/document/CpyNtcPtE.astro";
import CpyNtcPtERn from "~/components/document/CpyNtcPtERn.astro";
import CpyNtcPtF from "~/components/document/CpyNtcPtF.astro";
import ForeignLanguageBody from "~/components/document/ForeignLanguageBody.astro";
import PatAmnd from "~/components/document/PatAmnd.astro";
import PatAppDoc from "~/components/document/PatAppDoc.astro";
import PatEtc from "~/components/document/PatEtc.astro";
import PatRspn from "~/components/document/PatRspn.astro";
import { isApplicationBody } from "~/interfaces/generated/application-body.guard";
import { isAttachingDocument } from "~/interfaces/generated/attaching-document.guard";
import { isCpyNtcPtERn } from "~/interfaces/generated/cpy-ntc-pt-e-rn.guard";
import { isCpyNtcPtE } from "~/interfaces/generated/cpy-ntc-pt-e.guard";
import { isCpyNtcPtF } from "~/interfaces/generated/cpy-ntc-pt-f.guard";
import { isForeignLanguageBody } from "~/interfaces/generated/foreign-language-body.guard";
import { isPatAmnd } from "~/interfaces/generated/pat-amnd.guard";
import { isPatAppDoc } from "~/interfaces/generated/pat-appd.guard";
import { isPatEtc } from "~/interfaces/generated/pat-etc.guard";
import { isPatRspn } from "~/interfaces/generated/pat-rspn.guard";
import PrintingLayout from "~/layouts/PrintingLayout.astro";
import { formatApplicationNumber, getBibliography } from "~/lib/bibliography";
import { getDocument } from "~/lib/document";

const { docId } = Astro.params as { docId: string };
const json = await getDocument(docId);
const bibliography = await getBibliography(docId);
const title = bibliography
    ? `${formatApplicationNumber(bibliography.law, bibliography.applicationNumber || bibliography.internationalApplicationNumber || "")} ${bibliography.fileReferenceId} ${bibliography.documentName}`
    : "Error: Bibliography not found";
---

<PrintingLayout title={title}>
    <main class="w-full my-2">
        {
            json.length > 0 ? (
                json.map((block) => {
                    if (isPatAppDoc(block)) {
                        return (
                            <PatAppDoc document={block} forPrinting={true} />
                        );
                    } else if (isApplicationBody(block)) {
                        return (
                            <ApplicationBody
                                document={block}
                                forPrinting={true}
                            />
                        );
                    } else if (isForeignLanguageBody(block)) {
                        return (
                            <ForeignLanguageBody
                                document={block}
                                forPrinting={true}
                            />
                        );
                    } else if (isPatRspn(block)) {
                        return <PatRspn document={block} forPrinting={true} />;
                    } else if (isPatEtc(block)) {
                        return <PatEtc document={block} forPrinting={true} />;
                    } else if (isPatAmnd(block)) {
                        return <PatAmnd document={block} forPrinting={true} />;
                    } else if (isCpyNtcPtE(block)) {
                        return (
                            <CpyNtcPtE document={block} forPrinting={true} />
                        );
                    } else if (isCpyNtcPtERn(block)) {
                        return (
                            <CpyNtcPtERn document={block} forPrinting={true} />
                        );
                    } else if (isCpyNtcPtF(block)) {
                        return (
                            <CpyNtcPtF document={block} forPrinting={true} />
                        );
                    } else if (isAttachingDocument(block)) {
                        return (
                            <AttachingDocument
                                document={block}
                                forPrinting={true}
                            />
                        );
                    } else {
                        return (
                            <div>
                                can't display document due to unknown type
                            </div>
                        );
                    }
                })
            ) : (
                <div>Document data not found.</div>
            )
        }
    </main>
</PrintingLayout>
