---
import type { ApplicationFormItemBlock } from "~/interfaces/text-blocks-root";
const { block } = Astro.props as {
    block: ApplicationFormItemBlock;
};
---

{
    block.jpTag && block.convertedText && (
        <div class="application-item" style="display: flex;">
            <span
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 11em;"
            >
                {block.jpTag}
            </span>
            <span class="convertedText">{block.convertedText}</span>
        </div>
    )
}

{
    block.jpTag && !block.convertedText && block.text && (
        <div class="application-item" style="display: flex;">
            <span
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 11em;"
            >
                {block.jpTag}
            </span>
            <span class="text">{block.text}</span>
        </div>
    )
}

{
    block.jpTag && !block.convertedText && !block.text && (
        <>
            <div class="application-item" style="display: flex;">
                <span
                    class={`jpTag indentLevel-${block.indentLevel}`}
                    style="min-width: 11em;"
                >
                    {block.jpTag}
                </span>
            </div>
            {block?.blocks?.map((b) => (
                <Astro.self block={b} />
            ))}
        </>
    )
}

{
    !block.jpTag &&
        !block.convertedText &&
        !block.text &&
        "blocks" in block &&
        block.blocks?.map((childBlock) => <Astro.self block={childBlock} />)
}

<style>
    .application-item :global(.indentLevel-2) {
        text-indent: 2em;
    }
</style>
