---
import Applicants from "~/components/application/Applicants.astro";
import ApplicationNumber from "~/components/application/ApplicationNumber.astro";
import FileReferenceId from "~/components/application/FileReferenceId.astro";
import Inventors from "~/components/application/Inventors.astro";
import Print from "~/components/application/Print.astro";
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Drawer from "~/components/ui/Drawer.astro";
import type { IPDocument } from "~/interfaces/document";

export interface Props {
    ipDocument: IPDocument;
}

const { ipDocument } = Astro.props;
---

<nav class="sticky top-0 mb-4 bg-gray-100 z-10 p-4 rounded-md shadow-md">
    <!-- 1段目 PC/smartphone 双方で表示される -->
    <div class="flex items-center justify-between gap-2">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                {
                    title: "出願番号の一覧",
                    href: "/docs/applicationNumbers",
                },
                {
                    title: ipDocument.applicationNumber.toString(),
                    href: `/docs/applicationNumbers/${ipDocument.applicationNumber.slug}`,
                },
                {
                    title: ipDocument.documentName,
                    href: Astro.url.pathname,
                },
            ]}
        />
        <!-- ハンバーガー：スマホだけ表示 -->
        <Drawer>
            <span slot="button" class="text-xl leading-none">☰</span>
            <div slot="content" class="space-y-4">
                <div class="flex flex-wrap gap-2">
                    <!-- 出願番号 -->
                    <ApplicationNumber ipDocument={ipDocument} />
                    <!-- 整理番号 -->
                    <FileReferenceId ipDocument={ipDocument} />
                    <!-- 発明者 -->
                    <Inventors ipDocument={ipDocument} />
                    <!-- 出願人 -->
                    <Applicants ipDocument={ipDocument} />
                    <Print href={Astro.url.pathname + "/print"} size="3em" />
                </div>
            </div>
        </Drawer>
    </div>

    <!-- 2段目 PCで表示, スマホではドロワー -->
    <div class="hidden md:block">
        <div class="flex items-center justify-between">
            <div class="flex gap-4">
                <!-- 出願番号 -->
                <ApplicationNumber ipDocument={ipDocument} />
                <!-- 整理番号 -->
                <FileReferenceId ipDocument={ipDocument} />
                <!-- 発明者 -->
                <Inventors ipDocument={ipDocument} />
                <!-- 出願人 -->
                <Applicants ipDocument={ipDocument} />
            </div>
            <Print href={Astro.url.pathname + "/print"} size="3em" />
        </div>
    </div>
</nav>
