---
import type { ApplicationFormItemBlock, ImageBlock } from "~/interfaces/text-blocks-root";
import { checker } from "~/interfaces/text-blocks-root";
import { concatBlocks } from "~/lib/blocks";
import Figure from "./Figure.astro";
import Inline from "./Inline.astro";

const { block } = Astro.props as {
    block: ApplicationFormItemBlock | ImageBlock;
};

const isUndefinedBlock = (tag: string) => {
    const defined = [
        "jp:dispatch-control-article",
        "jp:document-name",
        "jp:bibliog-in-ntc-pat-exam",
        "jp:bibliog-in-ntc-pat-exam-rn",
        "jp:application-reference",
        "jp:document-id",
        "jp:doc-number",
        "jp:drafting-date",
        "jp:date",
        "jp:draft-person-group",
        "jp:name",
        "jp:staff-code",
        "jp:office-code",
        "jp:addressed-to-person-group",
        "jp:article-group",
        "jp:reconsideration-before-appeal",
        "jp:conclusion-part-article",
        "jp:drafting-body",
        "jp:footer-article",
        "invention-title",
        "jp:number-of-claim",
        "jp:footer-article",
        "jp:certification-column-article",
        "jp:certification-column-group",
        "jp:certification-group",
        "jp:image-group",
        "image",
        "jp:final-decision-group",
        "jp:final-decision-group-rn",
        "jp:kind-of-application",
        "jp:exist-of-reference-doc",
        "jp:patent-law-section30",
        "jp:change-flag-invention-title",
        "jp:ipc-article",
        "jp:ipc",
        "jp:deposit-article",
        "jp:deposit",
        "jp:depository-ins-code",
        "jp:depository-number",
        "jp:parent-application-article",
        "jp:final-decision-memo",
        "jp:final-decision-memo-rn",
        "jp:final-decision-bibliog",
        "jp:final-decision-bibliog-rn",
        "jp:final-decision-body",
        "jp:final-decision-body-rn",
        "jp:field-of-search-article",
        "jp:field-of-search",
        "jp:patent-reference-article",
        "jp:patent-reference-group",
        "jp:reference-books-article",
        "jp:reference-books",
    ];
    const flag = defined.includes(tag);
    return !flag;
};
---

{
    block.tag == "jp:dispatch-control-article" && (
        <>
            {block.blocks.map((b) => (
                <div class="flex gap-2 text-xs">
                    <div class="min-w-[5em]">{b.jpTag}</div>
                    <div>{b.text}</div>
                </div>
            ))}
            <hr />
        </>
    )
}

{
    block.tag == "jp:document-name" && (
        <div class="flex justify-center mt-2 text-2xl">
            <div class="min-w-[5em]">{block.text}</div>
        </div>
    )
}

{
    /** conclusion-part-article, drafting-body は空(blocks無し)の場合がある */
    ((block.tag == "jp:conclusion-part-article" && block.blocks) ||
        (block.tag == "jp:drafting-body" && block.blocks)) && (
        <div class="my-6">
            <div class={`jpTag indentLevel-${block.indentLevel}`}>
                {block.jpTag}
            </div>
            {concatBlocks(block.blocks).map((group) => (
                <div>
                    {group.map((b) => (
                        <Inline block={b} />
                    ))}
                </div>
            ))}
        </div>
    )
}

{
    /** jpTag ○, convertedText 〇
     */
    (block.tag == "jp:doc-number" || block.tag == "jp:date" ||
        block.tag == "jp:depository-ins-code" ||
        block.tag == "jp:depository-number" ||
        block.tag == "jp:patent-reference-group"
    ) && (
        <div class="flex gap-2">
            <div
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 12em;"
            >
                {block.jpTag}
            </div>
            <div class="convertedText">{block.convertedText}</div>
        </div>
    )
}

{
    /** jpTag x, convertedText x, text o
     */
    (block.tag == "jp:ipc" || block.tag == "jp:field-of-search" ||
        block.tag == "jp:document-number"
    ) && (
        <div class="flex gap-2">
            <div
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 12em;"
            >
            </div>
            <div class="text">{block.text}</div>
        </div>
    )
}

{
    block.tag == "jp:draft-person-group" && (
        <div class="flex gap-2">
            <div
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 12em;"
            >
                {block.jpTag}
            </div>
            <div class="flex justify-between gap-2">
                <div>
                    {block.blocks
                        .filter((b2) => b2.tag == "jp:name")
                        .map((b3) => (
                            <div>{b3.text}</div>
                        ))}
                </div>
                <div class="flex gap-2">
                    {block.blocks
                        .filter((b2) => b2.tag != "jp:name")
                        .map((b3) => (
                            <div>{b3.text}</div>
                        ))}
                </div>
            </div>
        </div>
    )
}

{
    block.tag == "jp:article-group" && (
        <div class="flex gap-2">
            <div
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 12em;"
            >
                {block.jpTag}
            </div>
            <div>{block.blocks.map((b3) => b3.text).join("、")}</div>
        </div>
    )
}

{
    /** jpTag ○, text 〇,  convertedText ×
     */
    (block.tag == "jp:addressed-to-person-group" ||
        block.tag == "invention-title" ||
        block.tag =="jp:number-of-claim" ||
        block.tag == "jp:kind-of-application" ||
        block.tag == "jp:exist-of-reference-doc" ||
        block.tag == "jp:patent-law-section30" ||
        block.tag == "jp:change-flag-invention-title") && (
        <div class="flex gap-2">
            <span
                class={`jpTag indentLevel-${block.indentLevel}`}
                style="min-width: 12em;"
            >
                {block.jpTag}
            </span>
            <span class="text">{block.text}</span>
        </div>
    )
}

{
    /** tag ○, jpTag ○, text ×, blocks ○ */
    (block.tag == "jp:indication-of-case-article" ||
        block.tag == "jp:ipc-article" ||
        block.tag == "jp:deposit-article" ||
        block.tag == "jp:deposit" ||
        block.tag == "jp:field-of-search-article" ||
        block.tag == "jp:patent-reference-article" ||
        block.tag == "jp:reference-books-article"
    ) && (
        <>
            <div class="flex">
                <span
                    class={`jpTag indentLevel-${block.indentLevel} ${block.tag}`}
                    style="min-width: 11em;"
                >
                    {block.jpTag}
                </span>
            </div>
            {block?.blocks?.map((b) => (
                <Astro.self block={b} />
            ))}
        </>
    )
}

{
    /** tag ○, blocks ○ */
    (block.tag == "jp:application-reference" ||
        block.tag == "jp:document-id" ||
        block.tag == "jp:drafting-date" ||
        block.tag == "jp:certification-column-article" ||
        block.tag =="jp:image-group" ||
        block.tag == "jp:final-decision-group" ||
        block.tag == "jp:final-decision-group-rn" ||
        block.tag == "jp:final-decision-memo" ||
        block.tag == "jp:final-decision-memo-rn" ||
        block.tag == "jp:final-decision-bibliog" ||
        block.tag == "jp:final-decision-bibliog-rn" ||
        block.tag == "jp:final-decision-body" ||
        block.tag == "jp:final-decision-body-rn" ||
        block.tag == "jp:patent-reference-group") &&
        block.blocks?.map((childBlock) => <Astro.self block={childBlock} />)
}

{
    (block.tag == "jp:bibliog-in-ntc-pat-exam" ||
    block.tag == "jp:bibliog-in-ntc-pat-exam-rn") && (
        <div class="px-[1em] my-10">
            {block.blocks?.map((childBlock) => (
                <Astro.self block={childBlock} />
            ))}
        </div>
    )
}

{
    (block.tag == "jp:reconsideration-before-appeal" ||
     block.tag == "jp:reference-books") && (
        <div>{block.text ?? ""}</div>
    )
}

{
    block.tag == "jp:footer-article" && (
        <>
            <hr />
            <div>
                {block.blocks?.map((childBlock) => (
                    <Astro.self block={childBlock} />
                ))}
            </div>
        </>
    )
}

{
    block.tag == "jp:certification-column-group" && (
        <>
            {block.blocks
                .filter((b) => b.tag == "text")
                .map((b) => (
                    <div>{b.text}</div>
                ))}
            {block.blocks
                .filter((b) => b.tag == "jp:certification-group")
                .map((b) => (
                    <Astro.self block={b} />
                ))}
        </>
    )
}

{
    block.tag == "jp:certification-group" && (
        <div class="flex gap-10">
            {block.blocks
                .map((b) => (
                    (b.jpTag && b.convertedText)
                    ? <div>{b.jpTag}</div><div>{b.convertedText}</div>
                    : <div>{b.text}</div>
                ))}
       </div>
    )
}

{
    /* tag o, jpTag o, text x, convertedText x, blocks x */
    (block.tag == "jp:deposit-article" && block.blocks === undefined) && (
        <div>
            {block.jpTag}
       </div>
    )
}

{
    /** tag ○, jpTag ○, text ×, blocks ○ */
    block.tag == "jp:parent-application-article" && (
        <div>
            <div>
                   {block.jpTag}
            </div>
            {block.text && (
                <div>{block.text}</div>
            )}
            {block.blocks?.map((b) => (
                <Astro.self block={b} />
            ))}
        </div>
    )
}

{
    checker.isImage(block) && (
        <Figure block={block} sizeTag="large" />
    )
}

{
    /** 未対応のブロックタグ */
    isUndefinedBlock(block.tag) && (
        <div>
            <h1>no renderer for this block</h1>
            <pre>{JSON.stringify(block, null, 2)}</pre>
        </div>
    )
}

<style>
    .indentLevel-1 {
        text-indent: 1em;
    }
    .indentLevel-2 {
        text-indent: 2em;
    }
    .jp\:deposit {
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>
