---
/* This renderer for pat-rspn handles following document types:
    A151, A1523, A2523 手続補正書（方式）| 手続補正書
    A1524       誤訳訂正書
    A1525       特許協力条約第１９条補正の翻訳文提出書 
    A1529       特許協力条約第３４条補正の翻訳文提出書
    A1526       特許協力条約第１９条補正の翻訳文提出書（職権）
    A15210      特許協力条約第３４条補正の翻訳文提出書（職権）
    A1527       特許協力条約第１９条補正の写し提出書
    A15211      特許協力条約第３４条補正の写し提出書
    A1528       特許協力条約第１９条補正の写し提出書（職権）
    A15212      特許協力条約第３４条補正の写し提出書（職権）
*/

import Card from "~/components/ui/Card.astro";
import type { PatAmnd } from "~/interfaces/generated/pat-amnd";
import PatCommon from "./items/PatCommon.astro";
const { document, forPrinting = false } = Astro.props as {
    document: PatAmnd;
    forPrinting?: boolean;
};
---

{
    forPrinting === false && (
        <Card title={document.text}>
            <div class={document.tag}>
                {document.blocks.map((b) =>
                    b.blocks.map((b) => <PatCommon block={b} />),
                )}
            </div>
        </Card>
    )
}

{
    forPrinting === true && (
        <div class={document.tag}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <PatCommon block={b} />),
            )}
        </div>
    )
}
